<%- include('../partials/htmlheader'); %>
<body class="idx">
    <h1 class="title">My Dev Skills</h1>
    <ul class="list-wrapper">
    <% skills.forEach((skill, idx) => { %>
        <li class="list-item">
            <form action="/skills/<%= skill.name %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-btn">X</button>
            </form>
            <p class="skill-name"><%= skill.name %></p>
            -
            <p class="skill-description"><%= skill.description %></p>
            -
            <a href="/skills/<%= skill.name %>" class="see-more">See More...</a>
        </li>
    <% }); %>
    </ul>
    <a href="/skills/new" class="add-skill-btn">Add skill</a>
</body>
<%- include('../partials/htmlfooter'); %>