<%- include('../partials/htmlheader'); %>
<body class="show">
    <div class="title-wrapper">
            <h3 class="title"><%= skill.name %></h3>
            -
            <h5 class="description"><%= skill.description %></h5>
    </div>
    <p class="mastery">
        Mastery Level: <%= skill.level %>
    </p>
    <p class="experience">
        Amount of Experience: <%= skill.experience %>
    </p>
    <a class="return-link" href="/skills">Return to other dev skills</a>
</body>
<%- include('../partials/htmlfooter'); %>